@import "tailwindcss";

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  .box-center {
    @apply flex justify-center items-center;
  }

  .box-between-center {
    @apply flex justify-between items-center;
  }

  .animate-translateY {
    animation: translate 0.3s linear;
    animation-fill-mode: both;
    animation-direction: alternate;
  }

  @keyframes translate {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .dot {
    @apply size-3 bg-[#C7FEA6] rounded-full inline-block;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .card-btn-style {
    @apply flex justify-center items-center text-gray-800 w-17 h-7 lg:w-20 lg:h-8 text-[10px] lg:text-xs rounded-md;
  }

  .card-btn-group {
    @apply flex justify-center items-center gap-2 mt-3 lg:mt-4;
  }

  .card-text-group {
    @apply absolute bottom-0 w-full h-[35%] rounded-b-[10px] px-6 py-3 lg:py-4;
  }

  .card {
    @apply relative snap-center h-85 min-w-65 lg:h-95 lg:min-w-78 rounded-[10px] bg-[length:100%_65%] bg-no-repeat;
  }

  .comment-card {
    @apply min-w-80 sm:min-w-92 lg:min-w-104 py-3 px-4 lg:p-5 space-y-4 lg:space-y-5 rounded-2xl snap-center;
  }

  .comment {
    @apply leading-4.5 tracking-[-3%] font-medium text-[#666666] text-sm lg:text-base;
  }

  .designer-card {
    @apply relative bg-[length:100%_100%] bg-no-repeat bg-top min-w-56 h-70 rounded-[10px] snap-center;
  }

  .bg-green-gradient {
    @apply absolute inset-0 bg-gradient-to-b from-[#3D9C0200] from-47% to-[#3D9C02] rounded-[10px];
  }

  .bg-blue-gradient {
    @apply absolute inset-0 bg-gradient-to-b from-[#000C4000] from-47% to-[#000C40] rounded-[10px];
  }

  .desginer-text-styles {
    @apply absolute bottom-3 left-3 font-medium text-2xl sm:text-3xl text-[#E2DAFF] w-1/2;
  }

  /* Typewriter cursor */
  .cursor {
    display: inline-block;
    width: 3px;
    background-color: #3b82f6;
    margin-left: 2px;
    animation: blink 1s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .gradient-text {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}